@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.slick-dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 1;
  width: fit-content !important;
}

button.slick-arrow.slick-prev {
  top: 89%;
  font-size: 2rem;
  left: 4rem;
  z-index: 2;
}

button.slick-arrow.slick-next {
  top: 89%;
  font-size: 2rem;
  left: 7rem;
  z-index: 2;
}

button.slick-arrow.slick-prev::before {
  content: "⟵";
  font-size: 2rem;
  z-index: 1;
  position: absolute;
}

button.slick-arrow.slick-next::before {
  content: "⟶";
  font-size: 2rem;
  z-index: 1;
  position: absolute;
}

@media (max-width: 768px) {
  button.slick-arrow.slick-prev::before,
  button.slick-arrow.slick-next::before {
    display: none;
  }
}
